$icon-size: 48px;
$secondary-column-width: 420px;

$black: rgba(25,25,25,1);

*:hover {

	//background:rgba(25,25,25,0.05);
	&::-webkit-scrollbar-track
	{
		//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		//background-color: #F5F5F5;
		width:4px;
		background:transparent;
	}

	&::-webkit-scrollbar
	{
	width:4px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-thumb
	{
		background-color: rgba(25,25,25,0.25);
		//border: 2px solid #555555;
	}
}

::-webkit-scrollbar
{
width:0px;
	background-color: #F5F5F5;
}


.highlight:not(#scroll) {
	opacity:1 !important;
	border:1px solid white;
}

.hidden{

	transition: all 0.2s;
	transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);

	//opacity:0;

	display:none;
}




html,body, aside {

	background:rgba(125,125,125,1);
	background:white;
	color:rgba(255,255,255,0.85);
	color:black;
	min-height:494px;

}
html,body {

}
html {

//	background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

ribbon{

	position:absolute;top:0px;
	left:48px;
	width:100%;
	height:48px;
	background:rgba(25,25,25,0.25);
	h3 {

		padding:0px;
		padding-left:16px;

	}
}

view{

	opacity:1;
	transition: all 0.2s;
	transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
	transform: scale(1);
	transform-origin: center;
	display:block;
	position:relative;top:0px;
	left:0px;

	&.slide {

		position:absolute;
		//top:0px;
		left:-100px;
		opacity:0;
		display:inline;
		visibility:hidden;
		transform: scale(0),translateX(-10);
		transform-origin: center;
		transition: all 0.2s;
		transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);

	}
	.hidden{

			opacity:0;
			transition: all 0.2s;
			transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
	}
	min-width:256px;
	min-height:256px;
//	margin:4.5rem;
//	margin-left:0.5rem;
	display:block;
	background:rgba(25,25,25,0.25);

}

.spread {

//	padding:10vw;
display:block;
float:left;
padding:6.5em;

}

iframe {

	width:100%;
	height:100%;
	border:none;
	ouutline:none;

}


#hamburger {

max-width:$icon-size;
background:transparent;
background:$black;
}

#scroll {

//background:purple;
min-height:14rem;
//overflow:hidden;
overflow-x: hidden;
overflow-y: auto;

}
/*
#primary-view,
#secondary-view {

	width:30%;
	float:left;

}
*/

search {

	position:fixed;
	background:rgba(25,25,25,0.25);

	bottom:0px;
	height:50px;

	right:0px;
	width:350px;

	input {
		//padding:5px;
		margin:0.3em;
		width:96%;
	}

}


#primary-view {

	background-image:url('https://www.wallpaperup.com/uploads/wallpapers/2012/09/29/16890/89c0690218eaf35bea5a502ad571a6fe-1400.jpg');

	>:after{
	}
}


aside{

	.menu {

		float:left;
		//margin:0px;
		margin:$icon-size/5;
		//margin-top:0.5em;
		pointer-events: none;

	}

	input {
		display:none;
		position:absolute;

		height:$icon-size;
		left:$icon-size*1.01;
		line-height:0px;
		width:$icon-size;
		background:transparent !important;
		border:none;

	}
	input:focus {


		width:$icon-size*2;
		//width:100%;
		background:transparent !important;
	}

	span p{
		display:none;
		line-height:64px;
		margin:0px;
	}
	span span i, span span svg {

		pointer-events: none;
	}

	span span:hover {
		width:$secondary-column-width;
		svg {


			&:not(.feather-menu){
				//width:$icon-size;
			}

		}
	}




	&#primary-column,
	&#secondary-column {

		background:black;
		position:fIxed;
		left:0px;
		top:0px;
		width:$icon-size;

		span h5:not(.expand),
		span svg:not(.expand):nth-of-type(4n+2) {
			display:none;
		}

		&.expand {
			width:$secondary-column-width;

			span h5:not(.expand),
			span svg:not(.expand):nth-of-type(4n+2) {
				display:block;
			}
		}

		height:100%;
		//opacity:0.5;
	    transition: width 0.2s;
	    transition: opacity 0.2s;
		transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);


		background:transparent;
	}


	&#primary:hover,
	&#secondary-column:hover {

		input {
			display:block;
			width:$icon-size*4.25;
		}

		span p{
			display:block;
			line-height:0px;
			margin:0px;
		}

	}
	&#secondary-column:hover {

		opacity:1;
		//width:$secondary-column-width;
		transition: opacity 0.2s;
		transition: width 0.2s;
		transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
		cursor:pointer;

	}

	&#primary-column	{
		//width:5rem;
		width:1rem;
		margin-left:4rem;
		font-size:2rem
	}
	&#primary-column:hover	{

		opacity:1;
		//width:8em;
	    transition: width 0.2s;
		transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
		cursor:pointer;

	}

}

aside span {
	overflow:hidden;
	h5 {

		padding: 10px 0;
		float:left;
		padding:10px;

		&:hover {


			transition: all 0.2s;
			transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
			opacity:1;
			-webkit-filter: drop-shadow( -0px -0px 7px #FFF );
  		filter: drop-shadow( -0px -0px 7px #FFF );

		}

	}

	span {

		background: transparent;
		//max-width:$icon-size;
	}

	//background:rgba(125,125,125,0.25);
	background:rgba(25,25,25,1);
	//background:red;

	color:white;
	display:block;
	width:100%;
	height:$icon-size;

	//>svg {

		transition: all 0.2s;
		transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
		opacity:0.8;
		-webkit-filter: none;
		filter: none;

		&:hover{

			transition: all 0.2s;
			transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
			opacity:1;
			-webkit-filter: drop-shadow( -0px -0px 7px #000 );
  		filter: drop-shadow( -0px -0px 7px #000 );
		}

		&:active{

			transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
			opacity:0.9;
		}



	//}

	>svg {

		transition: all 0.2s;
		transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
		opacity:0.8;
		-webkit-filter: none;
		filter: none;

		&:hover{

			transition: all 0.2s;
			transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
			opacity:1;
			-webkit-filter: drop-shadow( -0px -0px 5px #666 );
			filter: drop-shadow( -0px -0px 5px #666 );

		}

		&:active{

			transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
			opacity:0.9;

		}

	}

}

aside span:hover {

	outline:1px solid rgba(25,25,25,0.25);
	display:block;
	width:100%;
	height:$icon-size;

}

hero {
		width:100%;

	div {

		width:100%;
		height:320px;
		//border:1px solid black;
		border:0px;
		outline:none;
				outline:none;
				border:none;

		    //background-image: url("https://cdn.pixabay.com/photo/2016/10/11/21/43/banner-1732847_960_720.jpg");
		    background-size: length;
		    background-repeat: no-repeat;
		    background-position: 50% 50%;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
		//background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
		//background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
		//background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

	}
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
