* {
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    &:after,
    &:before {
        box-sizing: border-box;
    }
    &::-webkit-scrollbar {
        -webkit-appearance: none
    }
    &::-webkit-scrollbar:vertical {
        width: 6px;
    }
    &::-webkit-scrollbar:horizontal {
        height: 6px
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(95, 95, 95, 0.5);
    }
}

*:hover {
    //background:rgba(25,25,25,0.05);
    &::-webkit-scrollbar-track {
        //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        //background-color: #F5F5F5;
        width: 4px;
        background: transparent;
    }
    &::-webkit-scrollbar {
        width: 4px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(25, 25, 25, 0.25); //border: 2px solid #555555;
    }
}

::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
}
