{
  "presets": [
		[
			"env", {
			"modules": false,
			"targets": {
				"browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
				}
			}
		],
		"flow",
		"stage-2"
	],
  "plugins": [
    "transform-decorators-legacy",
    ["flow-runtime", {
      "assert": true,
      "annotate": true
    }],
		"transform-class-properties",
		"transform-flow-strip-types",
		"syntax-flow",
		"transform-runtime"
  ]
}
